<header class="header-menu">
  <div class="logo">
    IT Company
  </div>


  <button class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <nav [ngClass]="{'active': isMenuOpen}">
    <a href="#slider">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#founders">Founders</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
