.about {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}
.about img {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.about p {
  font-size: 18px;
  color: #666;
}
.about-title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
}

button{
  border-radius: 25px;
  border: 1px solid;
}
